body{
    margin: 0;
    background-color: #e7f6ff;
    list-style: none;
}
*{
    font-family:'Inter', system-ui;
}
a{
    text-decoration: none;
    color: #333;
}

.wrapper{
    background: #FFFFFF;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04);
    border-radius: 20px;
    max-width: 1080px;
    margin: 50px auto;
    box-sizing: border-box; 
    outline: none;
   
    .content{
        padding: 40px;
        .content_info{
            display: flex;
            align-items: center;
            justify-content: space-between;
             .search_menu{
                border: 1px solid #f3f3f3;
                border-radius: 10px;
                padding: 0 15px;
                display: flex;
            input{
                border: 0;
                padding: 13px;
                font-size: 16px;
                width: 200px;
                }
            } 
        }
        .sneakers{
            flex-wrap: wrap;
            display: flex;
        }

    }
}
